@import "./navigation";
@import "./main";
@import "./footer";

* {
  color: $CoffeeBlack100;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  font-family: Inter;
}
